.categories-list-container{
  display: grid;

  .categories-list{
    height: 450px;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
    width: 500px;
  }

  .categories-saved-list{
    height: 150px;
  }

  .categories-action{
    height: 110px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 20px;

    .save-saved-metadata{
      margin-right: 30px;
    }

    .ant-btn{
      margin: 20px;
      width: 150px;
    }

  }
}
