.categories-list-container{
  display: grid;

  .option-slider{
    position: relative;
    padding: 0px 20px;

    .slider{
      width: 50%;
      display: inline-block;
      margin-right: 10px;
    }

    .slider-button{
      margin-left: 10%;
      max-width: 40%;
      display: inline-block;
      position: absolute;
      margin-top: -3px;
    }
  }

  .categories-list{
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    color: black;
    width: 500px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .categories-saved-list{
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .categories-action{
    height: 110px;
    margin-left: 20%;
    margin-right: 2.5%;
    bottom: 0;
    padding: 20px;
    position: absolute;

    .save-saved-metadata{
      margin-right: 30px;
    }

    .ant-btn{
      margin: 20px;
      width: 200px;
    }

  }
}
