.articles-screen-container{
  width: 100%;
  display: flex;

  .metadata-left-container{
    width: 30%;
    border: 0.5px solid gray;

  }

  .metadata-right-container {
    width: 70%;
    border: 1px solid gray;

    .articles-container-actions{
      height: 80px;
      width: 98%;
      margin-left: 1%;
      margin-top: 1%;
      padding-top: 15px;

      .action-title{
        font-weight: 500;
        color: #3b5eb8;
        margin-top: 5px;
        font-size: 15px;
        display: inline;
      }

      .connection-type{
        margin-right: 200px;
        width: 150px;
      }

      .screen-mode{
        position: absolute;
        margin-left: 300px;
      }
    }

    .count-items{
      position: absolute;
      margin-left: 15px;
      font-weight: 500;
      color: #3b5eb8;
      margin-top: -130px;
      font-size: 15px;
    }



    .screen-options-buttons{
      .action-title{
        font-weight: 500;
        color: #3b5eb8;
        font-size: 15px;
        display: inline;
      }

      margin-top: -32px;
      margin-left: 80%;
    }

    .articles-right-container {
      //margin-top: 2%;
    }

    .network-right-container {
      .categories-selection-container{
        height: 100px;
        width: 100%;
        border: 0.5px solid gray;
        background-color: #ffd591;
      }
    }
  }

  .loader-container{
    position: absolute;
    margin-left: 34%;
    margin-top: 20%;

    .loader-details{
      margin-left: -30%;
      width: 300px;
    }

    .loader-articles-details{
      margin-left: -17%;
      width: 300px;
    }
  }
}
