.articles-screen-container{
  width: 100%;
  display: flex;

  .metadata-left-container{
    width: 30%;
    border: 0.5px solid gray;

  }

  .metadata-right-container {
    width: 70%;
    border: 1px solid gray;
    //background-color: #ffd591;

    .screen-options-buttons{
      margin-top: 1%;
      margin-left: 40%;
    }

    .articles-right-container {
      //margin-top: 2%;
    }

    .network-right-container {
    }
  }

  .loader-container{
    position: absolute;
    margin-left: 34%;
    margin-top: 20%;

    .loader-details{
      margin-left: -30%;
      width: 300px;
    }

    .loader-articles-details{
      margin-left: -17%;
      width: 300px;
    }
  }
}
