.home-page-container{
  width: 1200px;
  margin: 0 auto;

  .collection-container{
    .button-create-collection{
      margin-left: 85%;
      margin-bottom: 1%;
    }

    .collection-icon{
      color: #1890ff;
      cursor: pointer;
    }

    .collection-icon:hover{
      color: #2f54eb;
    }
  }
}

