.network-wrapper{
  margin: 100px auto;
  border: 5px solid gray;
  width: 710px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  .node-hover{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 0;
  }

  .node-clicked{
    position: absolute;
    right: 0;
  }
}
