.network-wrapper{
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border: 10px solid white;

  .node-hover{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 0;
  }

  .node-clicked{
    position: absolute;
    right: 0;
  }
}
