.metadata-list-container{
  height: 400px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #FFFCFC;
  margin-left: 10%;
  margin-top: 3%;
  padding: 20px;
}