.auth-form-container {
    display: flex;
    justify-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .query-form {
        display: block;
        background-color: white;
        border: 0.1px solid gray;
        width: 500px;

        .form-auth-title{
            width: 100%;
            margin: 12px 0 0 215px;
            font-size: 34px;
            font-weight: 500;
        }

        .action-form-button{
            font-weight: bold;
            width: 117%;
        }

        .change-auth-type{
            margin: 2px 140px;

            .link-auth{
                font-weight: 500;
                color: #1890ff;
                cursor: pointer;
            }
        }
    }

    .loader-container{
        position: absolute;
        left: -1%;
        bottom: 8%;
    }
}
