.query-form-container {
  height:100%;
  width:100%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 200px;

  .query-form {
    display: block;
    background-color: white;
    border: 0.1px solid gray;
    width: 800px;
    height: 385px;
    margin: 0 auto;

    .form-title{
      color: #3b5eb8;
      font-weight: 500;
      font-size: 18px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
    }
    .divider-title-form{
      margin-top: 60px;
    }

    .connection-select{
      margin-left: -40px;
    }

    .select-keyword-container{
      height: 200px;
      overflow: auto;

      .select-keyword{
        margin-left: 27px;
      }
    }
  }

  .action-form-buttons{
    //margin-top: 5px;
    margin-left: 100px;

    .action-form-button{
      margin-right: 10px;
    }
  }
}

.loader-container{
  position: absolute;
  margin-left: 49%;

  .loader-details{
    margin-left: -40%;
  }
}
