.metadata-list-container{
  width: 500px;

  .ant-divider-inner-text{
    color: #3B5EB8;
  }
  .saved-metadata-list{
    height: 100px;
    width: 470px;
    display: block;
    overflow:hidden;
    overflow-y:auto;
    padding-right: 30px;
  }

  .metadata-list{
    height: 200px;
    width: 450px;
    display: block;
    overflow:hidden;
    overflow-y:auto;
  }

  .metadata-footer{
    bottom: 0;
    height: 60px;
    display: flex;
    position: absolute;
    width: 470px;

    .ant-btn{
      margin: 10px;
    }
    .save-saved-metadata{
      margin-left: 40px;
    }
  }
}
