.metadata-list-container{

  .ant-divider-inner-text{
    color: #3B5EB8;
  }
  .saved-metadata-list{
    height: 100px;
    width: 500px;
    display: block;
    padding: 0px 20px;
    overflow:hidden;
    overflow-y:auto;
  }

  .metadata-list{
    height: 200px;
    width: 500px;
    display: block;
    padding: 0px 20px;
    overflow:hidden;
    overflow-y:auto;
  }

  .metadata-footer{
    bottom: 0;
    height: 60px;
    display: flex;
    position: absolute;
    width: 470px;

    .ant-btn{
      margin: 10px;
    }
    .save-saved-metadata{
      margin-left: 40px;
    }
  }
}
